h1 {
  color: rgb(97, 97, 244);
  background-color: black;
}
/* body{
  align-items: center;
  display: flex;
  justify-content: center;
  background-color: #000;
  left: 0;
  overflow: hidden;
  padding: 10px;
  position: fixed;
  top: 0;
  font-family: Chicago,sans-serif;
  font-size: .875rem;
  font-weight: 400;
  line-height: 1.25rem;
  height: 100vh;
  width: 100vw;
} */
#app{
  align-items: center;
  display: flex;
  justify-content: center;
  background-color: #000;
  left: 0;
  overflow: hidden;
  padding: 10px;
  position: fixed;
  top: 0;
  font-family: Chicago,sans-serif;
  font-size: .875rem;
  font-weight: 400;
  line-height: 1.25rem;
  height: 100vh;
  width: 100vw;
}
.screen {
    background: white;
    color: rgb(0, 174, 70);
    /* background: linear-gradient(rgba(18,16,16,0) 50%,rgba(0,0,0,.25) 50%),linear-gradient(
      90deg
      ,rgba(255,0,0,.06),rgba(0,255,0,.02),rgba(0,0,255,.06)); */
    box-sizing: border-box;
    border: 1px solid #000;
    border-radius: .625rem;
    margin: 0;
    padding-top: 30px;
    position: relative;
    overflow: hidden;
    transition: height 3s ease;
    z-index: 2;
    height: calc(100% - 40px);
    width: calc(100% - 40px);

}
div {
  display: block;
}